<div class="column">
  <div class="card1">
    <img src={{img}} alt="Jane" style="max-width: 100%" />
    <div class="container">
      <h2>{{name}}</h2>
      <div class="title">
        {{topping}}
      </div>
      <br />
      <p style="float: left">
        <b>Available in:</b><br />{{description}}
      </p>
      <br />
      <p>
        <button class="button" style="float: right">
          Order this recipe
        </button>
      </p>
    </div>
  </div>
</div>