<footer class="footer">
  <div class="container3">
    <div class="row1">
      <div class="footer-col">
        <h4>NAVIGATE</h4>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/menu">On The Menu</a></li>
          <li><a href="/extra">Pricing</a></li>
          <li><a href="/extra">Join Tthe Team</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Help</h4>
        <ul>
          <li><a href="/extra">FAQ</a></li>
          <li><a href="/extra">Blog</a></li>
          <li><a href="/extra">Our Ingredients</a></li>
          <li><a href="/extra">Gift Cards</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Terms And Conditions</h4>
        <ul>
          <li><a href="/extra">Press</a></li>
          <li><a href="/extra">Terms Of Use</a></li>
          <li><a href="/extra">Investors</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow and Copyright</h4>
        <ul>
          <li><a href="/extra">jhans2@myseneca.ca</a></li>
          <li style="color: #bbbbbb">
            Copyright © Fall 2021, Jatin Hans, WEB322 ZAA
          </li>
          <li><a href="/extra">Follow Us</a></li>
        </ul>
        <br />
        <div class="social-links">
          <a href="/extra"><i class="fab fa-facebook-f"></i></a>
          <a href="/extra"><i class="fab fa-twitter"></i></a>
          <a href="/extra"><i class="fab fa-instagram"></i></a>
          <a href="/extra"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>