<html>
  <head>
    <title>Agro Foods Limited</title>
    <link rel="shortcut icon" href="/images/logo2.jpg" />
    <meta
      name="viewport"
      content="initial-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script>
      function myFunction() { var x = document.getElementById("myTopnav"); if
      (x.className === "topnav") { x.className += " responsive"; } else {
      x.className = "topnav"; } }
    </script>
  </body>
</html>