{{#if clerk}}
  <h1 style="text-align: center;"><u>Clerk Dash Board</u></h1>
  <div style="text-align: center;">
    <button class="buttonw" onclick="window.open('/load-data/meal-kits','_self');">Add meals from Databse</button>
    <br />
    <br />
    <button class="buttonw" onclick="window.open('/showMeals','_self');">View
      All Meals</button>
    <br />
    <br />
    <button class="buttonw" onclick="window.open('/addMeal','_self');">Add New
      Meal</button>
    <br />
    <br />
    <button class="buttonw" onclick="window.open('/updateDash','_self');">Edit
      Meal</button>
    <br />
    <br />
    <button class="buttonw" onclick="window.open('/deleteDash','_self');">Delete
      Meal</button>
  </div>
  <br />
  <br />>
{{else}}
  <div style="text-align: center;" class="ye">
    <h1>You are a cutomer!!!!<br />You do not have access to this page</h1>
    <img style="max-width: 50%;" src="./images/error.jpg" />
  </div>>
{{/if}}