<div class="landing-page">
    <div class="image">
    <img src="/images/oo.jpg" alt="food" style="max-width: 100%" />
  </div>
  <div class="info">
    <h1><u>Welcome to Agro Foods</u></h1>
    <h2>Well done. By signing up you've taken your first step towards a happy,
      healthier life. We'll do everything we can to help and support you as you
      learn the health and taste-changing skill of cooking.</h2>
    <button class="buttonw" onclick="location.href='/home'">Get More Info</button>
  </div>
</div> 